/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Main CSS code for pricing panel */

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #14e3ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: #def6f4;
    border-radius: 15px;
    padding: 15px 30px;
    width: 100%;
    max-width: 960px;
    zoom: 105%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

}

.pricing-plan {
    border-bottom: 1px solid #85ffd6;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 30px;
    width: 100%;
}

.pricing-header {
    color: #63766e;
    font-weight: 700;
    letter-spacing: 1px;
}

.pricing-features {
    color: #2ec4b6;
    margin: 50px 0 25px;
}

.pricing-features-item {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0;
    border-top: 1px solid #85ffd6;

}

.pricing-features-item:last-child {
    border-bottom: 1px solid #85ffd6;
}

.pricing-price {
    font-size: 35px;
    display: block;
    font-weight: 700;
    color: #09c7b4;
}

.pricing-button {
    border: 1px solid #2ec4b6;
    border-radius: 12px;
    color: #09c7b4;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    margin: 25px 0;
    /* transition: background-color 0.5ms ease-in-out; */
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #d0fff0;
    box-shadow: 0.1em 0.7em 0.6em -0.5em #09c7b4;
    transform: translateY(-0.3em);
    cursor: pointer;
}

.pricing-button.is-featured {
    background-color: #34d7c7;
    color: white;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
    background-color: #38eddb;
    color: white;
    box-shadow: 0.1em 0.7em 0.6em -0.5em #09c7b4;
    transform: translateY(-0.3em);
    cursor: pointer;

}

@media(min-width:950px) {
    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #85ffd6;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }

    .footer {
        display: block;
        position: fixed;
        text-align: center;
        color: #007185;
        font-size: 18px;
        font-weight: 600;
        font-family: 'El Messiri';
        bottom: 1.5%;
        right: 40%;
        left: 40%;
    }

    .footer a,
    p {
        color: #007185;
        text-decoration: none;
        letter-spacing: 1;
        padding-bottom: 10px;
    }

    .footer a:hover {
        color: #005ff9;
    }

}

@media(max-width:960px) {

    body {
        scroll-behavior: smooth;
    }

    .footer {
        padding: 20px;
        color: #007185;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        font-family: 'El Messiri';
    }

    .footer a {
        color: #007185;
        text-decoration: none;
    }

    .footer a:hover {
        color: #005ff9;
    }


    .pricing-features-item {
        line-height: 2.5;
    }

    .panel {
        border-radius: 0%;
        width: 90%;
    }
}